.CenteredTextBlock-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-content: center;
  padding: 75px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.CenteredTextBlock-Wrapper img {
  width: 120px;
}

.CenteredTextBlock-Wrapper p {
  font-size: 25px;
  text-align: center;
  color: #60605f;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

@media (max-width: 768px) {
  .CenteredTextBlock-Wrapper {
    padding: 25px;
    margin: 25px;
  }

  .CenteredTextBlock-Wrapper p {
    font-size: 20px;
  }
}
