@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

@import "tailwindcss";

@theme {
  --font-cursive: "Imperial Script", cursive;

  --color-main: #003d51;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

.hamburger-line {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 9999px;
  background-color: #ffffff;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.4);
}

@layer components {
  .nav {
    @apply bg-transparent w-full fixed top-0 z-50 text-[15px] p-[15px] uppercase;
  }

  .navContainer {
    @apply flex justify-between items-center max-w-[1400px] gap-[20px] m-auto py-0 px-[16px] md:px-[40px] text-white stroke-white fill-white;
  }

  .logoContainer {
    @apply flex items-center;
  }

  .logo {
    @apply w-[200px] text-white stroke-white fill-white;
  }

  .mainMenu {
    @apply flex decoration-0 list-none;
  }

  .listItem {
    @apply flex items-center py-[10px] px-[20px];
  }
}
